.homepagediv{

  background-image: url("./Imaged/poal.jpg");
  height:1880px;
  

}

.bigsection{
  background-color: #fad6a5;
  width:700px;
  height: 730px;
  padding-top: 73px;
}

.biggardentext{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 170px; 
  padding-top: 30px;
  margin-left:15px;
  position:relative;
}
.smallgardentext{
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  padding-top: 12px;
  margin-left:10px;
  
}
.gardenbigdot{
  color:orange;
  font-family: alegreya-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 190px;
}
.downloadrow{
  padding-top: 200px;
}
.recycleicon{
  font-size: 90px;
  margin-left: 170px;
  
}
.largeicon{
  font-size: 90px;
  color: white;
  text-align: center;
}
.largeicontext{
  text-align: center;
  color: white;
  font-size: 35px;
}
.largeiconcol{
  text-align: center;
}
.largeiconrow{
  padding-top: 200px;
}
.selltext{
  text-align: center;
  color:white;
  font-size: 50px;
  padding-top: 190px;
  font-family: liberation-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  
}
.sellminor{
  text-align: center;
  color:yellow;
  font-size: 24px;
}
.bottomheader{
  color:yellow;
  
  
}
.paymenticons{
  font-size: 45px;
  
  margin-top: 10px;
}
.paymenticonstwo{
  font-size: 25px;
  margin:3px;
  margin-top: 10px;
}
.corporate{
  font-size: 14px;
  padding-top: 50px;
}
.bottomrow{
  padding-top: 65px;
}
.socialicons{
  color:white;
  font-size: 20px;
  margin:13px;
}

.bottomtext{
  color: yellow;
  font-size: 19px;
  
}
.gardenbottom{
  font-size: 20px;
  color: yellow;
}
.abouttitle{
  font-size: 85px;
  padding-top: 100px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 90px; 
  color: white;
  
}
.abouttitledot{
  color:orange;
  font-family: alegreya-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
}
.aboutfirstimage{
  width:400px;
  height:450px;
  padding-top: 15px;
}
.shoptext{
  text-align: center;
  font-size: 68px;
  padding-top: 170px;
  color: white;
  
  font-family: adobe-garamond-pro, serif;
  font-weight: 600;
  font-style: italic;
}


.aboutpagediv{

  background-image: url("./Imaged/poal.jpg");
  height:1969px;

}
.aboutmessage{
  color: white;
  font-size: 23px;
  padding-top: 10px;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.nextaboutdiv{
 
  height:650px; 
  margin: 10px;
  margin-top: 40px;
  
}
.ceopic{
  width:400px;
  height:400px;
  margin:2px;
  margin-top: 50px;
}
.aboutsubtitle{
  padding-top: 30px;
  font-family: adobe-garamond-pro, serif;
  font-weight: 600;
  font-style: italic;
  font-size:65px;
  color: white;
}
.founderhead{
  color:white;
  font-size: 65px;
  padding-top: 50px;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.founderspeech{
  color: white;
  padding-top: 160px;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
}
.foundername{
  color: white;
  font-size: 23px;
  padding-top: 70px;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.madeeasytext{
  color:white;
  text-align:center;
  font-family: adobe-garamond-pro, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 70px;
  padding-top: 160px;
}
.gardenfixone{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal; 
  font-size: 53px;
}
.gardenfixtwo{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;  
}
.gardenfixtwodot{
  color:orange;
  font-size: 70px;
}
.ceotitle{
  font-family: adobe-garamond-pro, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 25px; 
}
.shopsubtext{
  color:yellow;
  text-align: center;
  font-size: 23px;
  padding-bottom: 80px;
}
.contactdiv{
  background-color: #ffcc99;
  height:720px;
}
.aboutusbigtitle{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;  
  font-size: 90px;
  padding-top: 100px;
}
.contacttext{
  font-family: adobe-garamond-pro, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 55px; 
  color:white;
  padding-top: 70px;
}
.lagostext{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal; 
  font-size: 30px;
  padding-top: 40px;
}
.lagosaddress{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal; 
  font-size: 20px;
  padding-bottom: 40px;
}
.phonelogo{
  font-size: 20px;
  
}
.textinfo{
  margin-top: 60px;
  font-size: 15px;
  color:black;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbrand{
  padding-left: 21px;
}

.navimage{
  width:52px;
  height:52px;
}
.gardenname{
  font-size: 32px;
  color: black;
  padding-top: 10px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  

}

.gardendot{
  color: orange;
  font-family: alegreya-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.aboutus{
  padding-top: 19px;
  color:black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}
.contactus{
  padding-top: 19px;
  color:black; 
  margin-left: 110px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}






















@media only screen 
and (min-width:320px)
and (max-width:480px) {


  .bigsection{
  display: unset;  
  }
  
 .biggardentext{
   font-size: 38px;
   padding-top: 120px;
   color:black;
   
 }
 .gardenbigdot{
   font-size: 60px;
   color:orange;
 }
 .smallgardentext{
   font-size:34px;
   color: white;
   padding-top: 4px;
   
 }
 .navbrand{
   padding-left: 0px;
 }
 .recycleicon{
   color: white;
   margin-left: 20px;
 }
 .madeeasytext{
   font-size: 35px;
 }
 .largeicon{
   font-size: 50px;
 }
 .largeicontext{
   font-size: 20px;
 }
 .selltext{
   font-size: 30px;
 }
 .sellminor{
   font-size: 12px;
 }
 .bottomheader{
   font-size: 12px;
   
 }
 .socialicons{
   font-size: 12px;
   margin: 7px;
 }
 .paymenticons{
   font-size: 23px;
 }
 .paymenticonstwo{
   font-size: 15px;
 }
 .bottomtext{
   font-size: 10px;
   display: none;
 }
 .gardenbottom{
   font-size: 12px;
 }
 .homepagediv{

  
  
  height:650px;
 }
 .gardenname{
   color:white;
 }
}  
















@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  {

   
    
  }  





  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {


    
    
  }





  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1280px) 
  {


    
  }

  


