


.homebackground{
 background-size: "cover";
 
 width: 1520px;
 position: absolute ;
}

.nextimg{

  position: absolute;
  width:728px;
  height:58vh;
}

.largetext{
  position: relative ;
  color:"black";
  font-size: 178px;
  margin-top:108px;
  left: 17px;
  font-family: 'Inter', sans-serif;
  
}
.dot{
  color:orange;
}

.subtitle{
  margin-left: 10px;
  margin-top:86px;
  font-family: 'Inter', sans-serif;
}

.info{
  margin: 10px;
}
.sidetitle{
  position: relative;
  color: aliceblue;
  margin-top: 120px;
  font-size: 37px;
}

.dottwo{
  color: orange;
}

.iconone{

  position: absolute;
  font-size: 50px;
  margin:20px;
  
}

.icontwo{
  position: absolute;
  font-size: 40px;
  margin: 27px; 
  left:149px;
}

.pagerow{
  margin-top: 50px;
}
.phone{
  width: 400px;
  height:55vh;
  
}
.phonerow{
  margin-top: 290px; 
}
.phoneinfo{
  color:yellow;
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
}
.groundimage{
  width:1520px;
  height: 43vh;
  position: absolute;
  margin-top: 180px;
}
.quote{
  position: relative;
  font-size: 32px;
  color: yellow;
  text-align: center;
  margin-top: 180px;
  font-family: 'Inter', sans-serif;
}
.line{
  position: relative;
  color: yellow;
  text-align: center;
  margin-left: 600px;
  font-size: 28px;

}
.groundrow{
  margin-top: 260px;
}

.groundtext{
  color: aliceblue;
}
.groundicon{
  color:aliceblue;
  font-size: 20px;
  margin:7px;
}
.footer{
  margin-top: 70px;
  color: aliceblue;
}

.aboutbackground{
  width: 1520px;
  height: 110vh;
  position: absolute ;

}
.aboutheader{
  font-size: 75px;
  position: absolute;
  font-family: 'Inter', sans-serif;
  color: yellow;
  margin-top: 150px;
}

.dotdot{
  color:orange;
}

.abouttext{
  position: absolute;
  font-family: 'Inter', sans-serif;
  color: yellow;
  margin-top: 320px;
  font-size: 30px;
}
.nextbackground{
  width: 1520px;
  height: 110vh;
  position: absolute ;
  margin-top: 720px;

}
.founderheader{
  position: absolute;
  font-family: 'Inter', sans-serif;
  color: yellow;
  margin-top: 790px; 
  font-size: 75px;
}
.name{
  position: absolute;
  font-family: 'Inter', sans-serif; 
  margin-top: 1030px;
  font-size: 30px;
  color:yellow;
}
.ceo{
  position: absolute;
  font-family: 'Inter', sans-serif; 
  margin-top: 1070px;
  font-size: 21px;
  color: yellow;
}
.ceoimage{
  height:325px;
  margin-top:857px;
  width:350px;
}
.contactbackground{
  width: 1520px;
  height:110vh;
  position: absolute;
  background-size: "cover"
}
.contactheader{
  position: absolute;
  font-family: 'Inter', sans-serif;
  color: yellow;
  
  font-size: 75px;

}
.contactminor{
  position: absolute;
  font-family: 'Inter', sans-serif;
  color: yellow;
  font-size: 42px;
}
.mailink{
  position: absolute;
  margin-top: 370px;
  font-size: 23px;
  color: aliceblue;
}
.phoneink{
  position: absolute;
  margin-top: 440px;
  font-size: 26px; 
  color: aliceblue;
}
.endone{
  position: absolute;
  font-size: 19px;
  margin-top: 365px;
  color: aliceblue;
  margin-left: 30px;
}
.endtwo{
  position: absolute;
  font-size: 19px;
  margin-top: 440px;
  color:aliceblue;
  margin-left: 30px;
}
.endimage{
  margin-top: 50px;
  width:1520px;
  height: 43vh;
  position: absolute;
}
.endrow{
  margin-top: 130px;
}

.contactbackground{
  position: absolute;
  width:1530px;
  height:715px;
}
.contactheader{
  font-size: 100px;
  font-family: 'Inter', sans-serif;
  color: orangered;
  
}
.contactsubtitle{
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  color: orangered;
  padding-top: 250px;
}

.contactrow{
  padding-top: 120px;
  padding-bottom: 45px;
}
.finalfix{
  color: black;
}
.lagos{
  padding-top: 20px;
}
.navbrand{
  padding-left: 21px;
}

.navimage{
  width:52px;
  height:52px;
}
.gardenname{
  font-size: 32px;
  color: black;
  font-family: 'Inter', sans-serif;
  padding-top: 12px;
}
.gardendot{
  color: orange;
}
.aboutus{
  padding-top: 19px;
  color:whitesmoke;
  font-family: 'Inter', sans-serif;
}
.contactus{
  padding-top: 19px;
  color:whitesmoke; 
  font-family: 'Inter', sans-serif;
  margin-left: 110px;
}











@media only screen 
and (min-width:320px)
and (max-width:480px) {

  .nextimg{
    display: none;
  }
  .homebackground{
    width: 409px;
    height:685px;
  }
  .largetext{
    font-size: 85px;
    color: white;
    padding-top: 30px;
  }
  .subtitle{
    color: white;
    font-size: 15px;
    
  }
  .info{
    color: white;
    font-size: 14px;
  }
  .navbrand{
    padding-left: 2px;
  }
  .iconone{
    color: white;
    font-size: 39px;
    margin-top: 26px;
  }
  .icontwo{
    color: white;
    font-size: 35px;
  }
  .sidetitle{
    display: none;
    color: black;
    padding-left: 18px;
    font-size: 24px;
  }
  .phone{
    width:349px;
    height:300px;
    margin-top: 130px;
    
  }
  .phonerow{
    margin-top: 20px;
  }
  .phoneinfo{
    display: none;
    color: black;
    font-size: 13px;
    text-align: center;
  }
  .quote{
    font-size: 16px;
    margin-top: 50px;
    color: orangered;
    
  }
  .line{
    font-size: 16px;
    margin-left: 152px;
    color: black;
  }
  .groundimage{
    width:409px;
    height:317px;
  }
  .gardenname{
    color: black;
    font-size: 21px;
  }
  .groundtext{
    font-size: 14px;
  }
  .groundicon{
    font-size: 13px;
  }
  .footer{
    font-size: 12px;
  }
  .groundrow{
    margin-top: 230px;
  }
  .navbar{
    background-color: white;
  }
  .aboutus{
    color: black;
  }
  .contactus{
    color: black;
    margin-left: 0px;
  }
  .aboutheader{
    font-size: 50px;
  }
  .abouttext{
    font-size: 17px;
    margin-top: 280px;
  }
  .aboutbackground{
    width:409px;
    height:115vh;
  }
  .nextbackground{
    width:409px;
  }
  .founderheader{
    font-size: 50px; 
  }
  .ceoimage{
    width:200px;
    height:200px;
    margin-top: 1008px;
  }
  .name{
    font-size: 19px;
    margin-top: 999px;
    color: white;
  }
  .ceo{
    font-size: 16px;
    margin-top: 1038px;
    color: black;
    
  }
  .contactbackground{
    width: 400px;
  }
  .contactheader{
    font-size: 50px;   
  }
  .contactsubtitle{
    font-size: 36px;
    padding-top: 130px;
  }
  .endimage{
    width:400px;
    margin-top: 70px;
    height:46vh;
  }
}  
















@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  {

   
    .homebackground{
      width: 768px;
      height:920vh;
    }
    .largetext{
      font-size: 85px;
      color: black;
      padding-top: 30px;
    }
    .subtitle{
      color: black;
      font-size: 15px;
      
    }
    .info{
      color: black;
      font-size: 14px;
    }
    .navbrand{
      padding-left: 2px;
    }
    .iconone{
      color: black;
      font-size: 39px;
      margin-top: 26px;
    }
    .icontwo{
      color: black;
      font-size: 35px;
    }
    .sidetitle{
      display: none;
      color: black;
      padding-left: 18px;
      font-size: 24px;
    }
    .phone{
      width:350px;
      height:300px;
      margin-top: 200px;
      margin-left: 170px;
    }
    .phonerow{
      margin-top: 20px;
    }
    .phoneinfo{
      display: none;
      color: black;
      font-size: 13px;
      text-align: center;
    }
    .quote{
      font-size: 16px;
      margin-top: 50px;
      color:yellow;
      text-align: center;
      
    }
    .line{
      font-size: 16px;
      margin-left: 152px;
      color: yellow;
    }
    .groundimage{
      width:768px;
      height:317px;
    }
    .gardenname{
      color: black;
      font-size: 21px;
    }
    .groundtext{
      font-size: 14px;
    }
    .groundicon{
      font-size: 13px;
    }
    .footer{
      font-size: 12px;
    }
    .groundrow{
      margin-top: 230px;
    }
    .navbar{
      background-color: white;
    }
    .aboutus{
      color: black;
    }
    .contactus{
      color: black;
      margin-left: 0px;
    }
    .aboutheader{
      font-size: 50px;
    }
    .abouttext{
      font-size: 17px;
      margin-top: 280px;
    }
    .aboutbackground{
      width:768px;
      height:115vh;
    }
    .nextbackground{
      width:768px;
    }
    .founderheader{
      font-size: 50px; 
    }
    .ceoimage{
      width:350px;
      height:300px;
      margin-top: 1008px;
    }
    .name{
      font-size: 19px;
      margin-top: 999px;
      color: white;
    }
    .ceo{
      font-size: 16px;
      margin-top: 1038px;
      color: black;
      
    }
    .contactbackground{
      width: 768px;
    }
    .contactheader{
      font-size: 50px;   
    }
    .contactsubtitle{
      font-size: 36px;
      padding-top: 130px;
    }
    .endimage{
      width:768px;
      margin-top: 70px;
      height:46vh;
    }
  }  





  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {


    .nextimg{
      width:570px;
    }

    .homebackground{
      width:1024px;
      height:125vh;
    }
    .groundimage{
      width:1024px;
    }
    .largetext{
      font-size: 120px;
    }
    .subtitle{
      font-size: 19px;
    }
    .info{
      font-size: 13px;
    }
    .sidetitle{
      display: none;
    }
    .phone{
      width:400px;
      height:400px;
    }
    .phoneinfo{
      font-size: 22px;
    }
    .quote{
      font-size: 19px;
    }
    .line{
      font-size: 18px;
    }
    .aboutbackground{
      width:1024px;
    }
    .nextbackground{
      width:1024px;
      margin-top:800px;
      height: 80vh;
    }
    .founderheader{
     margin-top: 850px; 
    }
    .name{
      margin-top: 1085px;
      color: white;
    }
    .ceo{
      margin-top: 1120px;
      color:black
    }
    .contactbackground{
      width:1024px;
    }
    .endimage{
      width:1024px;
    }
    .groundrow{
      margin-top: 350px;
    }
    .endrow{
      margin-top: 210px;
    }
  }


  


