
/*HOME PAGE CSS*/

.topdiv{
  background-image: url("./Imaged/cove.jpg");
  height:780px;  
  background-size: contain;
}
.biggardentext{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 150px; 
  padding-top: 120px;
  position:relative;
  color: black;
  text-align: center;
}

.gardenbigdot{
  color:orange;
  font-family: alegreya-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 190px;
}

.smallgardentext{
  display: none;
  text-align: center;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 65px;
  padding-top: 0px;
  margin-left:10px;
  color:black;
  
}

.nextgardentext{
  color:black;
  font-size: 45px;
  text-align: center;
  font-family: arvo, serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 245px;
}

.followingdiv{
  background-color:white;
  height:400px;
  margin-top: 200px;
}

.downloadtext{
  text-align: center;
  color:black;
  padding-top: 100px;
  font-size: 45px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.applebutton{
  width:65px;
  height:65px;
  text-align: center;
  margin: 10px;
}

.easiertext{
  color:black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  padding-top: 240px;
}
.featurerow{
  margin-top: 90px;
}
.jumbotronone{
  background-image: url("./Imaged/kano.jpg");
  height:450px; 
  width:350px;
  background-size: cover;
}

.jumbotrontwo{
  background-image: url("./Imaged/rgit.jpg");
  height:450px; 
  width:350px;
  background-size: cover;
}

.jumbotronthree{
  background-image: url("./Imaged/vill.jpg");
  height:450px; 
  width:350px;
  background-size: cover;
}

.listedtitles{
  text-align: center;
  font-size: 22px;
  margin: 10px;
  color:black;
  font-family: alegreya-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  
}

.tastetext{
  text-align: center;
  padding-top: 90px;
  font-size:40px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  }

.lasthomediv{
    background-color: #fffe7a;
    height:740px;
    margin-top: 70px;
  }

.largeiconrow{
    padding-top: 150px;
  }

.largeiconcol{
    text-align: center;
  }
  
.largeicon{
    font-size: 90px;
    color: black;
    text-align: center;
  }

.largeicontext{
    text-align: center;
    color: black;
    font-size: 35px;
  }

.selltext{
    text-align: center;
    color:black;
    font-size: 46px;
    padding-top: 140px;
    font-family: liberation-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

.sellminor{
  text-align: center;
  color:black;
  font-size: 20px;
  margin-top: 20px;
  
}
.grounddiv{
  background-image: url("./Imaged/papa.png"); 
  height:320px;
  background-size: cover;
  margin-top: 70px;
}

.bottomrow{
  padding-top: 65px;
}

.bottomtext{
  color: white;
  font-size: 25px;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

.paymenticons{
  font-size: 45px;
  margin-top: 10px;
}

.paymenticonstwo{
  font-size: 25px;
  margin:3px;
  margin-top: 10px;
}
.paymenticonsthree{
  font-size: 35px;
  margin:3px;
  margin-top: 10px;
  margin-left: 10px; 
}
.corporate{
  font-size: 12px;
  padding-top: 50px;
 
}

.bottominfo{
  font-size: 20px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;
}






/*ABOUT PAGE CSS    */


.topaboutpagediv{
  background-color: #f6e6c5;
  height:850px;
}

.abouttitle{
  
  padding-top: 100px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 90px; 
  color: black;  
}

.abouttitledot{
  color:orange;
  font-family: alegreya-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 120px;
}

.aboutsubtitle{
padding-top: 30px;
font-family: arvo, serif;
font-weight: 700;
font-style: normal;
font-size:57px;
color: black;
}

.gardenfixone{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal; 
  font-size: 59px;
}

.aboutmessage{
  color: black;
  font-size: 18px;
  padding-top: 20px;
  
}
.aboutfirstimage{
  width:400px;
  height:450px;
  padding-top: 15px;
}
.commentone{
  font-family: arvo, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px; 
  padding-top: 190px;
}
.commenttwo{
  font-family: arvo, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px; 
  text-align: right; 
  padding-top: 120px;
}
.bottomaboutpagediv{
  background-color: white;
  height:900px;
  margin-top: 50px;
}

.founderhead{
  color:black;
  text-align: center;
  font-size: 60px;
  padding-top: 110px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal; 
}
.ceopic{
  width:400px;
  height:400px;
  margin:2px;
  margin-top: 50px;
}

.founderspeech{
  color: grey;
  padding-top: 160px;
 
  font-size: 17px;
}

.foundername{
  color: black;
  font-size: 18px;
  padding-top: 70px;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ceotitle{
  font-family: cardo, serif;
  font-weight: 400;
  font-style: bold;
  font-size: 17px; 
  color: black;
}







/*Contact Page */

.contactlink{
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.contactdiv{
  background-color: #ffa368;
  height:720px;
}

.getintouchbigtitle{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;  
  font-size: 90px;
  padding-top: 180px;
}

.lagostext{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal; 
  font-size: 30px;
  padding-top: 40px;
}
.lagosaddress{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal; 
  font-size: 28px;
  padding-bottom: 40px;
}
.phonelogo{
  font-size: 20px;
  
}
.textinfo{
  margin-top: 60px;
  font-size: 15px;
  color:black;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}





/*NAVIGATION CSS */
.navbrand{
  padding-left: 21px;
}

.navimage{
  width:52px;
  height:52px;
}
.gardenname{
  font-size: 27px;
  color: black;
  padding-top: 10px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  

}

.gardendot{
  color: orange;
  font-family: alegreya-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.aboutus{
  padding-top: 19px;
  color:black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
}
.contactus{
  padding-top: 19px;
  color:black; 
  margin-left: 110px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
}
.invisibleimage{
  display: none;
}

.getstarted{
  color:yellow;
  font-size: 20px;
}


/*Form CSS*/

.formdiv{
  background-image: url("./Imaged/have.jpg"); 
  height: 770px;
  background-size: cover;
}
.formtitle{
  padding-top: 170px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: black;
  font-size: 57px;
}
.formtop{
  padding-top: 150px;
}
.inputdiv{
  background-color: white;
  border-radius: 12px;
  height:500px;
}





















@media only screen 
and (min-width:320px)
and (max-width:480px) {

.navbrand{
  padding-left: 0px;
}
.topdiv{
  background-size: cover;
  height:820px;
}
.biggardentext{
  font-size: 75px;
  padding-top: 170px;
}
.gardenbigdot{
  font-size: 70px;
}
.nextgardentext{
  font-size: 40px;
  padding-top: 270px;
}
.followingdiv{
  margin-top: 120px;
  height: 300px;
}
.downloadtext{
font-size: 30px;
padding-bottom: 40px;
}
.easiertext{
  font-size: 49px;
  padding-bottom: 70px;
}
.tastetext{
  font-size: 40px;
} 
.largeicon{
  font-size: 45px;
} 
.largeicontext{
  font-size: 20px;
}
.selltext{
  font-size: 30px;
}
.sellminor{
  font-size: 15px;
}
.bottomtext{
  font-size: 19px;
}
.paymenticons{
  font-size: 28px;
}
.paymenticonstwo{
  font-size: 20px;
}
.paymenticonsthree{
  font-size: 25px;
}
.bottominfo{
  font-size:17px;
}
.corporate{
  font-size: 10px;
}
.jumbotronone{
  height: 330px;
  width:340px;
justify-content: center;
  
  
  
}

.jumbotrontwo{
  height: 330px;
  width:340px;
  
  
  
}
.jumbotronthree{
  height: 330px;
  width:340px;
  
   
}
.listedtitles{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
}
.abouttitle{
  font-size: 40px;
  padding-top: 150px;
}
.abouttitledot{
  font-size: 30px;
}
.aboutsubtitle{
  font-size: 35px;
}
.gardenfixone{
  font-size: 38px;
}
.aboutmessage{
  font-size: 15px;
  
}
.topaboutpagediv{
  height: 1000px;
}
.aboutfirstimage{
  width:350px;
  height:350px;
  padding:20px;
  
  text-align: center;
  
}
.commentone{
  font-size: 20px;
  text-align: center;
}
.commenttwo{
  font-size: 20px;
  text-align: center; 
}
.founderhead{
  font-size:35px;
}
.ceopic{
  width:320px;
  height:350px;
  padding:20px;
  text-align: center;
}
.founderspeech{
  font-size: 15px;
  padding-top: 20px;
  text-align: center;
}
.foundername{
  font-size: 18px;
  text-align: center;
}
.ceotitle{
  font-size: 18px;
  text-align: center;
}
.bottomaboutpagediv{
  height: 1270px;
}
.getintouchbigtitle{
  font-size: 50px;
}
.lagosaddress{
  font-size: 15px;
  padding-top: 20px;
}
.contactdiv{
  height:819px;
}
.contactlink{
  font-size: 24px;
  
}
.contactcorporate{
  font-size: 10px;
  padding-top: 50px;
}
.lastcontact{
  padding-top: 95px;
}
.gardenname{
  font-size: 20px;
}
.contactus{
  margin-left: 0px;
}
.grounddiv{
  height:350px;
  margin-top: 150px;
  background-size: cover;
}
.formtitle{
  font-size: 45px;
}
.formtop{
  padding-top: 40px;
}
.formdiv{
  height:600px;
}
.hackone{
  text-align: center;
  
}
.hacktwo{
  text-align: center;
  margin:19px auto;
  
}
}  
















@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  {
.navbrand{
  margin-left: 0px;
}
.contactus{
  margin-left: 0px;
}
.gardenname{
  font-size: 20px;
}
.biggardentext{
  font-size: 90px;
  padding-top: 190px;
}
.gardenbigdot{
  font-size: 90px;
}
 .nextgardentext{
   font-size: 35px;
 }
 .downloadtext{
   font-size: 30px;
 } 
 .easiertext{
   font-size: 50px;
 } 
 .tastetext{
   font-size: 40px;
 }
 .largeicon{
   font-size: 55px;
 }  
 .largeicontext{
   font-size: 19px;
 } 
 .abouttitle{
   font-size: 55px;
   padding-top: 140px;
 }
 .abouttitledot{
   font-size: 40px;
 }
 .aboutsubtitle{
   font-size: 38px;
 }
 .gardenfixone{
   font-size:35px;
 }
 .aboutmessage{
   font-size: 17px;
 }
 .aboutfirstimage{
   height: 300px;
 }
 .topaboutpagediv{
   height:900px;
 }
 .founderhead{
   font-size: 40px;
 }
 .contactdiv{
   height:900px;
 }
 .formtitle{
   font-size: 65px;
 }
  }  





  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {
.formtitle{
  font-size: 43px;
}
.formdiv{
  height:900px;
}
.aboutfirstimage{
  margin-top: 190px;
}
    
    
  }





  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1280px) 
  {
.topdiv{
  background-size: cover;
}
.topaboutpagediv{
  height:930px;
}
.contactdiv{
  height:1366px;
}
.formdiv{
  height:1366px;
}
    
  }

  


